<ion-view view-title="Drupal414 Drupallers">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="details in list track by $index" href="#/profile/{{ details.id }}">
        {{ details.name }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
