<ion-view view-title="Profile" class="profile" on-swipe-right="onSwipeRight(details.id)" on-swipe-left="onSwipeLeft(details.id)">
  <ion-content>
    <h1>{{ details.name }}</h1>
    <p class="picture" ng-bind-html="details.user_picture"></p>
    <p class="bio" ng-bind-html="details.user_bio"></p>
    {{ details.user_bio }}
    <br/>
    {{ details.user_bio2 }}
  </ion-content>
</ion-view>
